@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

:root {
    --bg-color: white;
    --eval-color: #007a25;
    --eval-unit-color: #4a7456;
    --eval-hover-color: #6efe9c;
    --error-color: #ee0719;
    --function-color: #24a7ff;
    --literal-color: #b03702;
    --constant-color: #7400bd;
    --comment-color: hsl(0, 0%, 50%);
    --unit-definition-color: var(--comment-color);
}

[data-theme="dark"] {
    /* --bg-color: #121212; */
}

#root,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--bg-color);
}

.titleBar {
    display: none;
}

[data-platform="darwin"] .titleBar {
    display: grid;
    grid-template-columns: 64px auto 64px;
    grid-template-areas: ". title buttons";
    height: 32px;
    width: calc(100vw - 15px);
    position: absolute;
    background-color: var(--bg-color);
    -webkit-app-region: drag;
    z-index: 100000;

    text-align: center;
    line-height: 32px;
    font-family: "Montserrat";

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.titleBar span {
    grid-area: title;
}
.titleBar div {
    padding-right: 8px;
    display: flex;
    grid-area: buttons;
    justify-content: flex-end;
}

.main {
    width: calc(100vw - 15px);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
}

[data-platform="darwin"] .main {
    margin-top: 32px;
    min-height: calc(100vh - 32px);
}

.evaluations {
    font-family: "Roboto Mono", monospace;
    background: transparent;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 8px 16px;
    margin: 8px 0;
    font-size: 16px;
    border-right: 1px solid hsl(0, 0%, 80%);
    min-width: 64px;
    width: fit-content;
}

.evaluations span {
    color: var(--eval-color);
    display: block;
    width: 100%;
    text-align: right;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    word-wrap: no-wrap;
}
.evaluations span.value:hover {
    color: var(--eval-hover-color);
    cursor: pointer;
}
.evaluations span.error {
    color: var(--error-color);
}

.evaluations span.unitOfMeasurement {
    display: inline;
    width: auto;
    color: var(--eval-unit-color);
}

.code-edit-container {
    flex-grow: 1;
    flex-basis: 0;
}

.code-edit-container textarea,
.code-edit-container pre {
    padding: 16px !important;
    /* line-height: 24px !important; */
    font-size: 16px !important;
    outline: none;
    font-family: "Roboto Mono", monospace !important;
}
.calc-token-function {
    color: var(--function-color);
}
.calc-token-literal {
    color: var(--literal-color);
}
.calc-token-constant {
    color: var(--constant-color);
}
.calc-token-comment {
    color: var(--comment-color);
}

.calc-token-literal-unit,
.calc-token-number-unit,
.calc-token-operator-unit,
.calc-token-bracket-unit {
    color: var(--unit-definition-color);
}
